.item-add-form {
    margin-top: 10px;
}

.form-control{
    width: auto;
    flex-grow: 1;
    margin-right: 3px;
}

.important-mark{
    margin-left: 3px;
    margin-right: 3px;
    padding: 4px 14px;
}